-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: cmdb
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `admin_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  PRIMARY KEY (`admin_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `admin_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (3,5),(4,9),(1,43),(2,44),(5,53);
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `digital_id`
--

DROP TABLE IF EXISTS `digital_id`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `digital_id` (
  `digital_id_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int DEFAULT NULL,
  `verified_by_staff_id` int DEFAULT NULL,
  `verify_status` varchar(50) DEFAULT 'Pending',
  PRIMARY KEY (`digital_id_id`),
  UNIQUE KEY `student_id` (`student_id`),
  KEY `verified_by_staff_id` (`verified_by_staff_id`),
  CONSTRAINT `digital_id_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`) ON UPDATE CASCADE,
  CONSTRAINT `digital_id_ibfk_2` FOREIGN KEY (`verified_by_staff_id`) REFERENCES `staff` (`staff_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `digital_id`
--

LOCK TABLES `digital_id` WRITE;
/*!40000 ALTER TABLE `digital_id` DISABLE KEYS */;
INSERT INTO `digital_id` VALUES (1,8,2,'Approved'),(2,9,2,'Approved'),(3,10,3,'Approved'),(4,11,4,'Approved'),(5,12,4,'Approved'),(6,13,5,'Approved'),(7,14,4,'Approved'),(8,15,NULL,'Pending'),(9,16,NULL,'Pending'),(10,17,NULL,'Pending'),(11,18,NULL,'Pending'),(12,19,3,'Approved'),(13,20,4,'Approved'),(14,21,3,'Approved');
/*!40000 ALTER TABLE `digital_id` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emergency_alert`
--

DROP TABLE IF EXISTS `emergency_alert`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emergency_alert` (
  `alert_id` int NOT NULL AUTO_INCREMENT,
  `message` text,
  `is_active` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`alert_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emergency_alert`
--

LOCK TABLES `emergency_alert` WRITE;
/*!40000 ALTER TABLE `emergency_alert` DISABLE KEYS */;
INSERT INTO `emergency_alert` VALUES (1,'Alert Resolved',0,'2026-02-06 05:24:54');
/*!40000 ALTER TABLE `emergency_alert` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `escort_request`
--

DROP TABLE IF EXISTS `escort_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `escort_request` (
  `escort_id` int NOT NULL AUTO_INCREMENT,
  `requested_by_student_id` int DEFAULT NULL,
  `assigned_security_id` int DEFAULT NULL,
  `description` text,
  `location` varchar(255) NOT NULL,
  `request_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(50) DEFAULT 'Pending',
  PRIMARY KEY (`escort_id`),
  KEY `student_id` (`requested_by_student_id`),
  KEY `assigned_security_id` (`assigned_security_id`),
  CONSTRAINT `escort_request_ibfk_1` FOREIGN KEY (`requested_by_student_id`) REFERENCES `student` (`student_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `escort_request_ibfk_2` FOREIGN KEY (`assigned_security_id`) REFERENCES `security_staff` (`security_staff_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `escort_request`
--

LOCK TABLES `escort_request` WRITE;
/*!40000 ALTER TABLE `escort_request` DISABLE KEYS */;
/*!40000 ALTER TABLE `escort_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incident`
--

DROP TABLE IF EXISTS `incident`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `incident` (
  `incident_id` int NOT NULL AUTO_INCREMENT,
  `reported_by_student_id` int DEFAULT NULL,
  `responded_by_staff_id` int DEFAULT NULL,
  `category` varchar(50) NOT NULL,
  `description` text NOT NULL,
  `location` varchar(255) NOT NULL,
  `time_reported` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(50) DEFAULT 'Open',
  PRIMARY KEY (`incident_id`),
  KEY `reported_by_student_id` (`reported_by_student_id`),
  KEY `responded_by_staff_id` (`responded_by_staff_id`),
  CONSTRAINT `incident_ibfk_1` FOREIGN KEY (`reported_by_student_id`) REFERENCES `student` (`student_id`) ON UPDATE CASCADE,
  CONSTRAINT `incident_ibfk_2` FOREIGN KEY (`responded_by_staff_id`) REFERENCES `staff` (`staff_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incident`
--

LOCK TABLES `incident` WRITE;
/*!40000 ALTER TABLE `incident` DISABLE KEYS */;
/*!40000 ALTER TABLE `incident` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `message` text,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=123 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patrol_route`
--

DROP TABLE IF EXISTS `patrol_route`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patrol_route` (
  `id` int NOT NULL AUTO_INCREMENT,
  `assigned_security_id` int DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `checkpoints` text,
  `status` varchar(50) DEFAULT 'Pending',
  PRIMARY KEY (`id`),
  KEY `assigned_security_id` (`assigned_security_id`),
  CONSTRAINT `patrol_route_ibfk_1` FOREIGN KEY (`assigned_security_id`) REFERENCES `security_staff` (`security_staff_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patrol_route`
--

LOCK TABLES `patrol_route` WRITE;
/*!40000 ALTER TABLE `patrol_route` DISABLE KEYS */;
INSERT INTO `patrol_route` VALUES (1,NULL,'Route Alpha (Perimeter)','Main Gate:1,North Fence:1,East Watchtower:1,South Gate:1,West Fence:1','Completed'),(2,NULL,'Route Bravo (Academic)','Library Entrance:1,Science Lab:1,Lecture Hall A:1,Admin Block:1,Cafeteria:1','Completed'),(3,NULL,'Route Charlie (Dormitory)','Boys Hostel:1,Girls Hostel:1,Common Room:1,Gymnasium:1,Staff Quarters:1','Completed');
/*!40000 ALTER TABLE `patrol_route` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `report_log`
--

DROP TABLE IF EXISTS `report_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `report_log` (
  `report_id` int NOT NULL AUTO_INCREMENT,
  `submitted_by_staff_id` int DEFAULT NULL,
  `generated_by_admin_id` int DEFAULT NULL,
  `title` varchar(100) DEFAULT NULL,
  `description` text NOT NULL,
  `time_generated` datetime DEFAULT CURRENT_TIMESTAMP,
  `generated_at` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`report_id`),
  KEY `submit` (`submitted_by_staff_id`),
  KEY `fk_report_admin` (`generated_by_admin_id`),
  CONSTRAINT `fk_report_admin` FOREIGN KEY (`generated_by_admin_id`) REFERENCES `admin` (`admin_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `submit` FOREIGN KEY (`submitted_by_staff_id`) REFERENCES `staff` (`staff_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `report_log`
--

LOCK TABLES `report_log` WRITE;
/*!40000 ALTER TABLE `report_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `report_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resources`
--

DROP TABLE IF EXISTS `resources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resources` (
  `id` int NOT NULL AUTO_INCREMENT,
  `managed_by_admin_id` int DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `type` varchar(100) DEFAULT NULL,
  `quantity` int DEFAULT '0',
  `location` varchar(255) DEFAULT NULL,
  `last_updated` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `managed_by_admin_id` (`managed_by_admin_id`),
  CONSTRAINT `resources_ibfk_1` FOREIGN KEY (`managed_by_admin_id`) REFERENCES `admin` (`admin_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resources`
--

LOCK TABLES `resources` WRITE;
/*!40000 ALTER TABLE `resources` DISABLE KEYS */;
/*!40000 ALTER TABLE `resources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `security_staff`
--

DROP TABLE IF EXISTS `security_staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `security_staff` (
  `security_staff_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  PRIMARY KEY (`security_staff_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `security_staff_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `security_staff`
--

LOCK TABLES `security_staff` WRITE;
/*!40000 ALTER TABLE `security_staff` DISABLE KEYS */;
INSERT INTO `security_staff` VALUES (7,8),(1,10),(2,23),(3,45),(4,46),(5,47),(6,51);
/*!40000 ALTER TABLE `security_staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff` (
  `staff_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  PRIMARY KEY (`staff_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `staff_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
INSERT INTO `staff` VALUES (6,6),(1,13),(2,14),(3,20),(4,32),(5,52);
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `student_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `course` varchar(100) DEFAULT NULL,
  `year` int DEFAULT NULL,
  `academic_status` varchar(20) NOT NULL DEFAULT 'Active',
  PRIMARY KEY (`student_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `student_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
INSERT INTO `student` VALUES (4,4,'CS',1,'InActive'),(5,12,'CS',2,'Active'),(6,15,'cs',2,'Active'),(7,16,'Computer science',2,'Active'),(8,17,'CS',3,'InActive'),(9,18,'CS',3,'Active'),(10,19,'CS',3,'Active'),(11,21,'Cs',4,'Active'),(12,27,'CS',1,'Active'),(13,34,'Conputer science',3,'Active'),(14,35,'Hg',2,'Active'),(15,36,'Management',2,'Active'),(16,37,'Gf',2,'Active'),(17,39,'Course',5,'Active'),(18,40,'Arts',3,'Active'),(19,41,'CS',3,'InActive'),(20,42,'CS',3,'Active'),(21,54,'computer science',3,'Active');
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL,
  `contact_num` varchar(20) DEFAULT NULL,
  `SQ1` date NOT NULL,
  `SQ2` varchar(255) NOT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-07  0:24:49
